/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
	
}

p {
	line-height: 1.5;

}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

#main-navigation-list {
  height: 0;
  overflow: hidden;
  transition: 0.7s ease; 
}

#main-navigation-list.toggled {
  height: 20vh;
}


/* Links
--------------------------------------------- */
a {
	
}

a:visited {
	
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/* @media screen and (min-width: 20em){


  .grid-map {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 64px auto auto auto 60px;
    grid-template-areas: 
    "logo . navMenu"
    ". spain ." 
    "quote video1 ."
    "quote video2 ."
    "quote video1 ."
    ". cw .";
  }
  
  .grid-map .site-logo2 {
    grid-area: logo;
  }
  
  .grid-map .main-navigation {
    grid-area: navMenu;
  }

  .grid-map .spain-tittle {
    grid-area: spain;
  }
  
  .grid-map .main-quote {
    grid-area: quote;
  }
  
  .grid-map .granada-video {
    grid-area: video1;
  }

  .grid-map .ibiza-video {
    grid-area: video2;
  }

  .grid-map .ibiza-video {
    grid-area: video1;
  }

  .grid-map .footer {
    grid-area: cw;
  }


}  */
  





/*--------------------------------------------------------------
# Component
--------------------------------------------------------------*/

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}


.navigation-button {
  width: 3rem;
  border: none;
  background-color: transparent;
  
}

.navigation-button svg path{
  fill: rgb(0, 0, 0);
}

.main-navigation-list {
position: absolute;
left: 0;
right: 0;
text-decoration: none;
background-color: rgb(255, 173, 173);
top: 70%;
list-style: none;
display: inline-block;
text-align: center;
padding: 0;
}

.main-navigation-list {
  text-align: center;
}
.main-navigation-list li {
  padding-top: 11px;
  
}

.main-navigation-list a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  line-height: 2;
  display: block;
  
}


/* Header
--------------------------------------------- */
.main-header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 top: 0;
 left: 0;
 right: 0;
 z-index: 10;
 position: relative;
 height: 100vh;
 width: 100%;
 background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
 padding: 0 5%;
 align-items: center;
 justify-content: center;

}

.site-logo {
  height: 3rem;
  width: 3rem;
  margin-left: 5px;
}

.main-navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(253, 211, 211);
}

.content{
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 20px 20px;
  box-shadow: 3.8px 7.7px 7.7px hsl(0deg 0% 0% / 0.38);
}

.content h1 {
  font-size: 4.3rem;
  font-weight: 600;
  color: red;
  transition: 0,5s;
}
.content h1:hover {
-webkit-text-stroke: 2px white;
color: transparent;
}

.content a {
  text-decoration: none;
  color: rgb(234, 234, 234);
  display: inline-block;
  font-size: 25px;
  border: 2px solid rgb(208, 48, 48);
  padding: 5px 15px;
  border-radius: 50px;
  margin-top: 10px;
}

.background-video {
 position: absolute;
 right: 0;
 top: 0;
 left: 0;
 bottom: 0;
 z-index: -1;
 width: auto;
 height: 100%;
 height: 100vh;
    width: 100vw;
    object-fit: cover;
 
}
.background-video2 {
  display: none;
} 
/* first position */
 @media(min-width: 35.313em) {
  .background-video2{
    position: absolute;
    z-index: -1;
    display: flex;
    left: 50%;
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
} 
/* Make sure you dont need this */
/* 2nd postion */
/* @media(min-width: 68.625em){
  .background-video2{
    position: absolute;
    z-index: -1;
    display: flex;
    left: 50%;
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
} */
/* third position */

 /* @media(min-width: 81.8em){
  .background-video2{
    position: absolute;
    z-index: -1;
    display: flex;
    left: 50%;
    width: 50%;
    height: 100%;
    margin: 0 auto;
  } 
}  */

/* 
@media (min-aspect-ratio: 16/9) {
  .background-video {
    width: 100%;
    height: auto;
    

  }
}
@media (max-aspect-ratio: 16/9) {
  .background-video {
    width: auto;
    height: 100%;
  }
} */



/* This is for my culture hmtl header*/

.header-culture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  padding: 0 5%;
  align-items: center;
  justify-content: center;
 
 }


/* Main
--------------------------------------------- */

.video-quote-section{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(112, 101, 161, 0.3),rgba(148, 109, 47, 0.3));
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  object-fit: cover;
  padding-top: 10%;
}

.lord-icon{
  display: block;
  margin: 0 auto;
  height: 4rem;
  width: 4rem;
  
}

.main-quote p{
  margin-top: 0;
  padding-top: 30px;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  padding: 0 20px;
}

.blockquote footer cite {
  font-size: 5%;
}

.granada-video{
  padding: 0 20px;
  border-radius: 10%;
  filter: drop-shadow(0 0 0.75rem rgb(190, 119, 134));
}

.figure1 {
  padding: 0;
  margin: 0;
}

figcaption {
  font-size: 7px;
  text-align: center;
}

.path-quote{
  display: block;
}

/* second section second navigation */
/* I have no idea why it does not work... */

/* .grid-map2 {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-area: 
  '. discouver .'
  'experience . explore';
}
.grid-map2 .culture {
  grid-area: discouver;
}

.grid-map2 .experience {
  grid-area: experience;
}

.grid-map2 .explore {
  grid-area: explore;
} */


.discouver{
  width: 100%;
  height: 50vh;
  padding: 0 20px;
  background-image: linear-gradient(rgba(148, 109, 47, 0.3),rgba(216, 57, 32, 0.3));
}

.grid-map2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px 0;
  padding-top: 50px;
}

.second-navigation li {
  list-style-type: none;  
  text-align: center;
}

.second-navigation a {
  text-decoration: none;
  color: brown;
  font-family: "Playfair Display", serif;
  border: solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 10px 10px;

}

.culture {
  grid-row: 1/2;

}

.explore{
  grid-row: 2/2;
  grid-column: 2/2;
}

.experience {
  grid-column: 3/3;
}


.second-navigation-list {
  margin-top: 0;
}

@media(min-width: 28.0em) {

    .main-quote p {
      font-size: 20px;
    }

  .granada-video{
    padding: 0 18%;
    border-radius: 25%;
  filter: drop-shadow(0 0 0.75rem rgb(190, 119, 134));
  }
  figcaption {
    font-size: 10%;
  }

  .second-navigation {
    padding: 0 13%;
  }

  .second-navigation a{
    font-size: 23px;
  }
}

@media(min-width: 73em){
  .video-quote-section{
    white-space: break-spaces;
  }
  figcaption {
    font-size: medium;
    margin-top: -2%;

  }

  .discouver {
    padding-top: 25%;
  }

  .second-navigation {
    padding-top: 20%;
  }

}

/* This is for the culture main */
.culture {
  width: 100%;
  height: 150vh;
  background-image: linear-gradient(rgba(112, 101, 161, 0.3),rgba(148, 109, 47, 0.3));
  align-items: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  position: relative;
  object-fit: cover;
  padding-top: 10%;
}
.culture .artquitecture-section h2 {
  text-align: center;
}
.culture img {
  display: block;
  margin-top: 10%;
  
}
.culture .second-p {
  padding-top: 5%;
}
.culture figcaption {
  font-size: 10px;
}
.culture p {
  text-align: left;
  padding: 0 10%;
}

@media(min-width:25.5em ) {
  .culture img {
    width: 60%;
  margin: 0 auto;
  padding-top: 10%;
  }
}
@media(min-width:34em) {
  .culture p {
 font-size: 23px;
  }
  .culture {
    height: 200vh;
  }

.culture .artquitecture-section h2 {
  font-size: 35px;

}

.culture figcaption {
  font-size: 15px;
}
}
@media (min-width: 49em){
  .culture figure {
    display: flex;
    align-items: baseline;
    
  }
  .culture figure img{
    width:80%;
    margin: 0 auto;
  }
  
}

/* Footer
--------------------------------------------- */

.main-page-footer {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(rgba(216, 57, 32, 0.3),rgba(228, 43, 15, 0.856));
}

.main-page-footer p {
  margin-top: 0;
  text-align: center;
  padding-top: 40px;
}


@media(min-width: 73em){
  .main-page-footer {
    height: 70vh;
  }
  .main-page-footer p {
    padding-top: 43%;
  }
}

/* This is for the culture footer */

.main-page-footer-culture {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(rgba(216, 57, 32, 0.3),rgba(228, 43, 15, 0.856));
}
.main-page-footer-culture p {
  margin-top: 0;
  text-align: center;
  padding-top: 40px;
}