/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
	
}

p {
	line-height: 1.5;

}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

#main-navigation-list {
  height: 0;
  overflow: hidden;
  transition: 3s ease; 
}

#main-navigation-list.toggled {

  height: 50vh;

}

/* Links
--------------------------------------------- */
a {
	
}

a:visited {
	
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 64px 1fr 1fr 1fr 1fr 43px;
  grid-template-areas: 
  "logo . . . . navMenu"
  ". . spain spain . ." 
  ". quote . video1 . ."
  ". quote . video2 . ."
  ". quote . video3 . ."
  ". . cw cw . . ";


  
}



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */


/* Main
--------------------------------------------- */


/* Footer
--------------------------------------------- */



